# Ignore all files in these folders
main/*
processed/*
target/*

# But keep the .gitkeep files
!main/.gitkeep
!processed/.gitkeep
!target/.gitkeep

# Ignore backup test data
main_/
target_/

# Ignore python cache
__pycache__/