# Ignore all existing sheets in the folders
main/
!main/.gitkeep

processed/
!processed/.gitkeep

target/
!target/.gitkeep

# Ignore backup test data
main_/
target_/

# Ignore python cache
__pycache__/